
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>about page</title>
      <link rel="stylesheet" href="static/other/about.css">
  </head>

  <body>


        <div class = "d">
          <img class = "logo" src = "../static/other/images/aboutLogo.png"></img>
    
          <header class = "header2">
              <div class = "nav_links">
                <li><a href = "http://127.0.0.1:8000/home">Home</a></li>
                <li><a href = "http://127.0.0.1:8000/about">About</a></li>
                <li><a href = "http://127.0.0.1:8000/receipe">Receipes</a></li>
              </div>


          <a class="cta" href = "http://127.0.0.1:8000/contact"><button class = "button1">Contact</button></a>


        </header>


        </div>

    <div class = "bar1">
      <p style = "text-align: center; padding-top: 100px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, cursive; font-size: 50px;">About Me</p>


    </div>

    <div class = "bar2">
      <img class = "self" img src = "static/other/images/IMG_2022.jpg">
      <div class= "text">
        <p>"Hi, My name is Angela! I am a UTORONTO Comp Sci Spec student. As a huge foodie, can't wait share more recipes with you!"</p>
      </div>

    </div>

    <div class = "d2">
      <div class="row">
        <div class="column" style="background-color:#bbb">
          <img class = "image1" img src="static/other/images/friedrice.JPG">
        </div>

        <div class="column" style="background-color:#ccc;">
          <p style="font-family: 'Monserrat',fantasy;">DELICOUS FRIED RICE: My favorite meal of all time! Just use your left-over
          rice, sprinkle some sausages, corn, green onion, ginger, carrots and of course eggs!
        It's a dish that no matter where you go, you can always make it quick!</p>
        </div>
        <div class="column" style="background-color:#bbb;">
          <img class = "image1" img src="static/other/images/newyear.JPG">

        </div>

        <div class="column" style="background-color:#ccc;">
          <p style="font-family: 'Monserrat',fantasy;">NEW YEAR SNACK BIN: Who doesn't like flowers, the red bags
          the feeling of new year! My favorite Holiday will always be the Chinese New Year, where I got the red bags! ALso,
        tons of delicious snacks like candied wintermelon, haw flakes and candies!</p>
        </div>
        <div class="column" style="background-color:#ccc;">
          <img class = "image1" img src="static/other/images/noodles.jpg">
        </div>

        <div class="column" style="background-color:#ccc;">
          <p style="font-family: 'Monserrat',fantasy;"> SOY SAUCE FRIED NODDLES: My family is from the GuangDong. So growing up
          I eat a lot of Cantonese Food! I love DIM SUM, Rice noodles and Porridges!
        Of course, can't forget the Soy Sauce Noodles! I make this one so call me a Chef!</p>
        </div>
      </div>


    </div>

  


    <div class = "d3">
      <div class="column" style="background-color:#ccc;">
        <p style="font-family: 'Monserrat',fantasy;">WONTON NOODLES: Nothing beats a bowl
        of warm noodles in a cold day! The tasty pork and shrimp wontons, crunchy veggies
         with heart warming soup!
      What can win this!</p>
      </div>
      <div class="row">
        <div class="column" style="background-color:#aaa;">
          <img class = "image1" img src="static/other/images/wonton.JPG">
        </div>


        <div class="column" style="background-color:#ccc;">
          <p style="font-family: 'Monserrat',fantasy;">DIM SUM: Rice rolls, shrimp dumplings(虾饺),
          Pork Siu Mai（烧卖），brown sugar cake(马来糕)，brasied beef, BBQ Buns(叉烧包)，and taro cakes（芋丝糕）,
          tunip cakes（萝卜糕）！</p>

          </p>
        </div>


        <div class="column" style="background-color:#bbb;">
          <img class = "image1" img src="static/other/images/dimsum.jpg">

        </div>

        <div class="column" style="background-color:#ccc;">
          <p style="font-family: 'Monserrat',fantasy;"> BROWN SUGAR MILK TEA: This is my favorite sweet treat of all time!
          The chewy bubbles with sweet whole milk and roasted tea flavor! If you don't love bubble tea, I will not like you.
        Hahaha, just kidding! </p>
        </div>


        <div class="column" style="background-color:#ccc;">
          <img class = "image1" img src="static/other/images/bubbletea.jpg">
        </div>


      </div>


    </div>


    <div class = "d4" id = "d4">
      <div class = "col">
        <img class = "ed" img src = "https://phantom-marca.unidadeditorial.es/56eb2db500d4e0e8d00c198102da7cac/resize/1320/f/webp/assets/multimedia/imagenes/2023/05/08/16835686875455.jpg">

      </div>
     <div class = "col">
      <p style = "padding-top: 80px; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; font-size: 25px;">
        My favorite singer is Ed Sheeran! I love all of his songs because I like how his lyrics always connects to life in someways: love,
        heart break, friendship, life... His songs always makes me reflect on myself and how to approach difficulties with a postive altitude! My favorite
        song from Ed Sheeran would be "Collide"! I love the positive energy the lyrics and the music brings!
      
      </p>

      <div class = "col2">
        <div class = "grid">
          <button id = "musicBt" class = "musicBt">
            <img id = "music" class = "play"  src = "https://cdn2.iconfinder.com/data/icons/basics-1/100/Play-1024.png">
            
    
    
          </button>
  

        </div>


        
        <div class = "grid">
          <img class = "play2" src  = "https://www.edsheeran.com/sites/g/files/g2000015851/files/2023-02/ES-logo.png">


        </div>

        <div class = "grid">
          <figure style = "padding-top: 45px">
            <figcaption></figcaption>
            <audio
                controls
                src="static/other/music/[ytmp3.page]Ed_Sheeran_-_Collide_Official_Lyric_Video_.mp3">
                    <a href="static/other/music/[ytmp3.page]Ed_Sheeran_-_Collide_Official_Lyric_Video_.mp3">
                        Download audio
                    </a>
            </audio>
        </figure>
        
         



          </figure>
         


        </div>
       



      </div>
  

      



     </div>


      


      
    </div>




    <div class = "bottom">
      <img class = "self2" img src = "static/other/images/self2.jpeg">
      <div class = "text2">
        <p style = "padding-left: 40px">"Aside from Food, I am also a kind of a Math/Comp Sci nerd (not that Nerdy, because
          if I am, I would get 10+ scholarship hahha!)! Feel free subscribe to my Youtube @annlin8144!"</p>

      </div>


    </div>

    <div class = "veryBottom">


    </div>

  







  </body>
  <script src = static/javascript/about.js></script>
</html>
