<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>hello</title>
    <link rel="stylesheet" href="static/other/contact.css">
  </head>
  <body>
    <div class = "d">
      <img class = "logo" src = "../static/other/images/contactLogo.png"></img>
    
        <header class = "header2">
            <div class = "nav_links">
              <li><a href = "http://127.0.0.1:8000/home">Home</a></li>
              <li><a href = "http://127.0.0.1:8000/about">About</a></li>
              <li><a href = "http://127.0.0.1:8000/receipe">Receipes</a></li>
            </div>
  
  
        <a class="cta" href = "http://127.0.0.1:8000/contact"><button class = "button1">Contact</button></a>
  
  
      </header>
      


      </div>


      <div class = "first">
        <h1 style = "font-size: 50px; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; padding-top: 40px; padding-left: 50px">Questions? Comments? Requests?  </h1>



      </div>


      <div class = "second">
        <h1>Feel free to email to me about what your favorite foods and more recipes you want to see!!</h1>



      </div>

      <div class = "container">

        <form action="https://formsubmit.co/652fca24641ba93d0e00cbe153052de8" method="POST">
          <h3>GET IN TOUCH</h3>
          <input type="text" name = "Name" placeholder= "Full Name" required>
          <input type="email" name = "Email" placeholder = "Email" required>
  
          <select name = "Continent" placeholder>
            <option>Africa</option>
            <option>Antarctica</option>
            <option>Asia</option>
            <option>Australia</option>
            <option>Europe</option>
            <option>North America</option>
            <option>South America</option>

          </select>
          <textarea name = "Message" placeholder="Message" required></textarea>
          <button type = "submit">Send</button>



        </form>


      </div>

     






    
  </body>
</html>
